@page "/categoria/crear";
@inject CategoriaRepositorio repositorio
@inject NavigationManager navigatioMAnager
@inject IMostrarMensajes mostrarMensajes
@inject IJSRuntime js

<div class="form-group mx-sm-3 mb-2" style="text-align:center">
    <h3>Crear Categoria</h3>
</div>

<FormularioCategoria OnValidSubmit="CrearCategoria" categoria="categoria"></FormularioCategoria>

@code {
    private Categoria categoria = new Categoria();
    private async Task CrearCategoria()
    {

        var httpResponse = await repositorio.PostCategoria("api/categoria", categoria);
        if (httpResponse.Error)
        {
            var body = await httpResponse.HttpResponseMessage.Content.ReadAsStringAsync();
            Console.WriteLine(body);
            await js.Respuesta("Error", "Su registro no ha sido guardado verifique los datos ingresados, comuniquese con el desarrollador si el error persiste", TipoMensajeSweetAlert.error);
            navigatioMAnager.NavigateTo("/categoria/crear");
        }
        else
        {
            await js.Respuesta("Exito", "Su registro ha sido Guardado", TipoMensajeSweetAlert.success);
            navigatioMAnager.NavigateTo("/categoria/listar");

        }

    }
}