@inject NavigationManager nm

<EditForm Model="categoria" OnValidSubmit="OnValidSubmit">

    <DataAnnotationsValidator />
    <div>
        <div class="form-group mx-sm-3 mb-2">
            <label>Nombre de la categoría: </label>
            <div>
                <InputText class="form-control" @bind-Value="@categoria.Nombre"></InputText>
                <ValidationMessage For="@(() => categoria.Nombre)" />
            </div>
        </div>
    </div>
    <div>
        <div>
            <div class="form-group mx-sm-3 mb-2">
                <button class="btn btn-success" type="submit">Guardar</button>
                <button class="btn btn-danger" type="button" @onclick="Cancelar">Regresar</button>
            </div>
        </div>
        <div>

        </div>
    </div>
</EditForm>

@code {

    [Parameter] public Categoria categoria { get; set; }
    [Parameter] public EventCallback OnValidSubmit { get; set; }

    private void Cancelar()
    {
        nm.NavigateTo("categoria/listar");
    }
}
